<div id="main-login">
  <div class="window-box">
    <div class="img-area"></div>
    <div class="login-area">
      <div class="login-panel">
        <div class="login-title">
          <h3>CHRISTMAS</h3>
        </div>
        <div class="login-input">
          <form action="/sign-in">
            <input type="email" value="" name="user-email" placeholder="Enter your email" />
            <input
              type="password"
              value=""
              name="user-password"
              placeholder="Enter your password"
            />
          </form>
          <div class="forget-password">
            忘記密碼
          </div>
        </div>
        <div class="login-btn">
          <button></button>
          <p>SIGN IN</p>
        </div>
      </div>
      <div class="register">
        <h5>Don't have an account yet?</h5>
        <h4>
          <div class="account">Create an account</div>
        </h4>
      </div>
    </div>
  </div>
</div>
