<div id="main-dashboard">
  <div id="toggle-btn" @click="onToggleHandler">
    <font-awesome-icon icon="bars" />
  </div>
  <div id="side-bar">
    <div class="top-bar">
      <h4>{{ title }}</h4>
      <font-awesome-icon name="close" @click="onCloseSideBar" icon="times" />
    </div>
    <div class="user-info">
      <div class="user-pic">
        <img
          src="https://i.pinimg.com/originals/f7/5d/60/f75d60a05e6803d8ef1d1acd4dd7f4f2.jpg"
          alt=""
        />
      </div>
      <div class="user-content">
        <h3>{{ user.name }}</h3>
        <h5>{{ user.character }}</h5>
        <h5>{{ user.status }}</h5>
      </div>
    </div>
    <div class="select-item-block">
      <div class="select-item-title" v-for="(item, index) in optionData" :key="index">
        <h5>{{ item.title }}</h5>
        <div v-for="(cItem, cIndex) in item.Datas" :key="cIndex">
          <cSelect :prop_options="cItem.info" :prop_content="cItem.text" :prop_icon="cItem.icon" />
        </div>
      </div>
    </div>
    <div class="bar-footer">
      <font-awesome-icon class="log-out" icon="sign-out-alt" />
    </div>
  </div>
  <div id="view-port"></div>
</div>
