<div id="main-dashboard">
  <div id="toggle-btn">Go</div>
  <div id="side-bar">
    <div class="top-bar">
      <h4>PRO SIDERBAR</h4>
      <button @click="onCloseSideBar">Close</button>
    </div>
    <div class="user-info"></div>
    <div class="select-item-block">
      <div class="select-item-title">
        <h4>General</h4>
      </div>
      <div class="select-item-title">
        <h4>Extra</h4>
      </div>
    </div>
    <div class="bar-footer"></div>
  </div>
  <div id="view-port"></div>
</div>
