.select {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.select:hover .select-icon-img,
.select:hover .select-content,
.select:hover .select-icon-arrow {
  color: #9cacbd;
}

.select-icon-img,
.select-content,
.select-icon-arrow {
  display: inline-block;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.select-icon-img {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3c3d47;
  color: #697180;
  font-size: 1.2rem;
  border-radius: 5px;
}

.select-content {
  margin-left: 15px;
  color: #697180;
}

.select-content h5 {
  font-weight: 400;
}

.select-icon-arrow {
  position: absolute;
  content: '';
  background-color: transparent;
  z-index: 1;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #697180;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: 4px;
  top: 4px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  font-size: 14px;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.select-options-block {
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.option {
  cursor: pointer;
  padding: 7px 0px 7px 0px;
  background-color: #3a424f;
}

.option-count-1 {
  max-height: 37px;
}

.option-count-2 {
  max-height: 74px;
}

.option-count-3 {
  max-height: 111px;
}

.option-count-4 {
  max-height: 148px;
}

.option-count-5 {
  max-height: 185px;
}

.option-count-6 {
  max-height: 222px;
}

.option-count-7 {
  max-height: 259px;
}

.option-count-8 {
  max-height: 296px;
}

.option-count-9 {
  max-height: 333px;
}

.block-open {
  max-height: 0px;
}

.arrow-open {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}
/*# sourceMappingURL=style.css.map */