<div>
  <div class="select" @click="onToggleSelectHandler">
    <div class="select-icon-img">
      <font-awesome-icon :icon="prop_icon" />
    </div>
    <div class="select-content"><h5>{{ prop_content }}</h5></div>
    <div class="select-icon-arrow" :class="{ 'arrow-open': isOpen }">
      <font-awesome-icon icon="chevron-right" />
    </div>
  </div>
  <div class="select-options-block" :class="classOptionBlock">
    <div @click="onGoHandler(item.pushName)" v-for="(item, index) in prop_options" :key="index">
      <div class="option">
        <font-awesome-icon class="option-icon" :icon="item.icon" />
        <h5>{{ item.title }}</h5>
      </div>
    </div>
  </div>
</div>
